# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/

# Environment Variables
.env

# Logs
*.log

# ==========================
# Uploaded Files
# ==========================
backend/uploads/

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Pytest
# ==========================
.pytest_cache/

# ==========================
# Mypy
# ==========================
.mypy_cache/

# ==========================
# Build
# ==========================
build/
dist/

# ==========================
# React
# ==========================
frontend/node_modules/

# ==========================
# Operating System
# ==========================
.DS_Store
Thumbs.db